<main class="container">
  <div class="d-flex align-items-center p-3 mt-5 bg-purple rounded shadow-lg mt-3 p-5 text-bg-dark">
    <i class="bi bi-door-open" style="font-size: 35px;margin-left: 10px;"></i> <!-- Icono de personas -->
    <h1 class="text-body-principal" style="font-size: 35px;">&nbsp; Panel de Salas</h1>
  </div>



  <div class="my-3 p-3 bg-body rounded shadow-lg">
    <h6 class="border-bottom pb-2 mb-0">Salas</h6>
    <!-- usuario -->
    <div *ngFor="let sala of salas; let i = index" class="d-flex text-body-secondary pt-3" >
      <i class="bi bi-building-gear" style="font-size: 30px;color: blueviolet;"></i>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100" style="padding-left: 10px;">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Nombre</strong>
        </div>
        <span class="d-block">{{sala.nameSala}}</span>
      </div>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Habitación</strong>
        </div>
        <span class="d-block">{{sala.codSala}}</span>
      </div>
      
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
          <div class="d-flex justify-content-between">
            <strong class="text-gray-dark">Piso</strong>
          </div>
          @if(sala.floorSala==0){
            <span class="d-block">Planta Baja</span>
          }@else{
            <span class="d-block">{{sala.floorSala}}</span>
          }
          
        </div>
      
        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
          <div class="d-flex justify-content-between">
            <strong class="text-gray-dark">Capacidad</strong>
          </div>
          <span class="d-block">{{sala.capacitySala}}</span>
        </div>
        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
          <div class="d-flex justify-content-between">
              <strong></strong>

            <div class="d-flex gap-2">
            <app-modal-edit-sala [sala]="sala" [modalId]="'modal' + i"></app-modal-edit-sala>
            <button type="button" class="btn btn-danger" (click)="eliminarSala(sala.idSala)">Eliminar</button>

          </div>

            
          </div>
        </div>
        
    </div>
   
    
  
    <small class="d-block text-end mt-3">
      <a href="#">All suggestions</a>
    </small>
  </div>
</main>