<div class="container px-4 pt-5 mt-3" id="custom-cards">
    <h2 class="pb-2 border-bottom">Selecciona el tipo de reserva</h2>

    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        
            <div class="col" >
                <div routerLink="salas-individuales"  class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('');background-size: cover;cursor: pointer;">
                   
                    <div class="d-flex flex-column p-5 pt-0 pb-0 text-white text-shadow-1">
                        <img src="assets/images/Management-image-3.svg" class="img-fluid" style="height: 460px;" alt="">
                        <div style="display: flex;justify-content: space-between;align-items: center;">
                        <h3 class=" mt-5 mb-2 display-6 lh-1 fw-bold" >Salas <br> Individuales</h3>
                        
                        </div>
                        <ul class="d-flex list-unstyled mt-0">
                            <i class="bi bi-person"></i>
                            <li class="d-flex align-items-center">
                                <small>Capacidad maxima 30 Personas</small>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
  

       
            <div class="col" >
                <div routerLink="salas-multiples"  class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style=" cursor: pointer;background-image: url('');background-size: cover;">
                    <div class="d-flex flex-column p-5 pt-0 pb-3 text-white text-shadow-1">
                        <img src="assets/images/Management-image-5.svg" class="img-fluid" style="height: 460px;" alt="">
                        <div style="display: flex;justify-content: space-between;align-items: center;">
                            <h3 class=" mt-5 mb-2 display-6 lh-1 fw-bold"  >Salas <br> Multiples</h3>
                            
                            </div>
                            <ul class="d-flex list-unstyled mt-0">
                                <i class="bi bi-person"></i>
                                <li class="d-flex align-items-center">
                                    <small>Capacidad minima > 30 personas</small>
                                </li>
                               
                            </ul>
                    </div>
                </div>
            </div>
        

        
            
        

    </div>
</div>