<div style="height: 100%;display: flex;align-items: center;justify-content: center;">
  <div class="container" >
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <div class="d-flex">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Gestion de salas&nbsp;</h1>
          <i class="bi bi-buildings" style="font-size: 40px;"></i> 
        </div>
       
        <p class="lead">Administra eficientemente salas y espacios, permitiendo a los usuarios realizar reservas de forma sencilla y rápida, optimizando el uso de recursos con un sistema intuitivo, notificaciones en tiempo real, y una interfaz amigable para mejorar la experiencia del cliente.

        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
          <img class="rounded-lg-3" src="assets/images/sala1.svg" alt="" width="520">
      </div>

      <div class="container px-4 pb-4" id="featured-3">
        <div class="row g-4 pb-5 mb-5 row-cols-1 row-cols-lg-3" >
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 " style="border-radius: 15px !important;">
              <i class="bi bi-collection py-2 px-3" ></i>
            </div>
            <h3 class="fs-2 text-body-emphasis">Administración</h3>
            <p>Administra fácilmente tus salas con nuestra aplicación. Controla horarios, verifica tus reservas y cancélalas cuando lo necesites. Todo de manera simple y eficiente.</p>
          
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3" style="border-radius: 15px !important;">
              <i class="bi bi-person-circle py-2 px-3"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis">Fácil de Usar</h3>
            <p>Nuestra interfaz intuitiva permite que gestiones salas y horarios con facilidad. Consulta tus reservas en cualquier momento y realiza cambios de forma rápida.</p>
       
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3" style="border-radius: 15px !important;">
              <i class="bi bi-toggle2-off py-2 px-3"></i>
            </div>
            <h3 class="fs-2 text-body-emphasis">Control Total</h3>
            <p>Configura y administra todas tus reservas con total control. Visualiza el calendario, realiza cambios y asegura una gestión eficiente de tus salas.</p>
         
          </div>
        </div>
      </div>
      

    </div>
    
  </div>
</div>

 







 

  
  

  