<div class="card mb-3 shadow" style="width: 250px;">
    <div class="card-header text-center"></div>

    <div class="card-body d-flex justify-content-center align-items-center">
        <h5 class="card-title"></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h3>

                    <strong>Piso {{piso}} : Sala {{codigoSala}}</strong>
                </h3>
            </li>
            <li class="list-group-item">
                <i class="bi bi-clock"></i> <!-- Icono de reloj -->
                Horario Inicio : {{horaInicio}}
            </li>
            <li class="list-group-item">
                <i class="bi bi-clock-fill"></i> <!-- Icono de reloj relleno -->
                Horario Fin: {{horaFin}}
            </li>
            <li class="list-group-item">
                <i class="bi bi-people"></i> <!-- Icono de personas -->
                Capacidad máxima: {{capacidad}}
            </li>

        
            <div class="d-flex justify-content-center align-items-center my-2">
                <button type="button" class="btn btn-warning" (click)="eliminar(idSala)">
                    <i class="bi bi-trash"></i> <!-- Icono de eliminar -->
                    Eliminar selección
                  </button>
                  
                  
            </div>
        </ul>
        



    </div>
</div>