<div style="margin: 50px;">
  <!-- Reservas Simples -->
  <div *ngIf="reservas.length > 0; else noReservas">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="d-flex align-items-center p-2 bg-purple rounded shadow-lg mb-3 p-5 text-bg-dark">
          <i class="bi bi-calendar-event" style="font-size: 35px;margin-left: 10px;"></i>
          <h1 class="text-body-principal" style="font-size: 35px;">&nbsp; Reservas Simples</h1>
        </div>
        <div class="row">
          <div *ngFor="let reserva of reservas" class="col-md-4 mb-4">
            <div class="card border-primary">
              <div class="card-body">
                <h5 class="card-title"><i class="bi bi-journal" style="font-size: 20px;"></i> Reserva ID: {{ reserva.idReserva }}</h5>
                <p class="card-text"><i class="bi bi-clock" style="font-size: 20px;"></i> Hora Inicio: {{ reserva.horaInicio }}</p>
                <p class="card-text"><i class="bi bi-clock-fill" style="font-size: 20px;"></i> Hora Fin: {{ reserva.horaFin }}</p>
                <p class="card-text"><i class="bi bi-info-circle" style="font-size: 20px;"></i> Estado: {{ reserva.state }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sin reservas -->
  <ng-template #noReservas>
    <div class="container my-5" >
      <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5 d-flex justify-content-center align-items-center " style="min-height: 50vh !important;">
       
        <h3 class="text-body-secondary" >¡Aqui veras tus reservas Individuales, <br> ve a reservar una!</h3>
  

      </div>
    </div>
  </ng-template>

  <!-- Reservas Multiples -->
  <div *ngIf="reservasMultiples.length > 0; else noReservasMultiples">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="d-flex align-items-center p-2 bg-purple rounded shadow-lg mb-3 p-5 text-bg-dark">
          <i class="bi bi-calendar-week" style="font-size: 35px;margin-left: 10px;"></i>
          <h1 class="text-body-principal" style="font-size: 35px;">&nbsp; Reservas Multiples</h1>
        </div>
        <div class="row">
          <div *ngFor="let reservaLista of reservasMultiples; let i = index" class="col-md-4 mb-4">
            <div class="card text-bg-light mb-3">
              <div class="card-header">
                <h5><i class="bi bi-list" style="font-size: 20px;"></i> Lista de reservas {{ i + 1 }}</h5>
              </div>
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item border-primary" *ngFor="let reserva of reservaLista">
                    <h6><i class="bi bi-journal" style="font-size: 20px;"></i> ID Reserva: {{ reserva.idReserva }}</h6>
                    <p><i class="bi bi-door-open" style="font-size: 20px;"></i> ID Sala: {{ reserva.idSala }}</p>
                    <p><i class="bi bi-clock" style="font-size: 20px;"></i> Hora Inicio: {{ reserva.horaInicio }}</p>
                    <p><i class="bi bi-clock-fill" style="font-size: 20px;"></i> Hora Fin: {{ reserva.horaFin }}</p>
                    <p><i class="bi bi-info-circle" style="font-size: 20px;"></i> Estado: {{ reserva.state }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sin reservas múltiples -->
  <ng-template #noReservasMultiples>
    <div class="container my-5" >
      <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5 d-flex justify-content-center align-items-center " style="min-height: 50vh !important;">
       
        <h3 class="text-body-secondary" >¡Aqui veras tus reservas multi-sala, <br> ve a reservar una!</h3>
  

      </div>
    </div>
  </ng-template>
</div>
