<div class="card mb-3 shadow" style="max-width: 580px;min-width: 580px;">
    <div class="card-header text-center"></div>

    <div class="card-body d-flex justify-content-center align-items-center">
        <h5 class="card-title"></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                @if(piso==0){
                    <h3><strong>Piso PB : Sala {{codigoSala}}</strong> </h3>
                }@else{
                <h3><strong>Piso {{piso}} : Sala {{codigoSala}}</strong> </h3>
                }
            </li>
            @if(prioridad==-1){
            <li class="list-group-item" style="width: 100%; text-align: center;"> Sala disponible</li>
            }@else{
                <div class="d-flex list-group-item justify-content-center align-items-center">
                    <i class="bi bi-exclamation-diamond-fill" style="font-size: 30px;color: #ffc107;position: relative;"></i>
                    <li style="width: 100%; text-align: center;list-style: none;"> Sala reservada</li>
                </div>
         
            @if(prioridad==0){
            <li class="list-group-item" style="width: 100%; text-align: center;"> prioridad: Baja</li>
            }
            @if(prioridad==1){
            <li class="list-group-item" style="width: 100%; text-align: center;"> prioridad: Media</li>
            }
            @if(prioridad==2){
            <li class="list-group-item" style="width: 100%; text-align: center;"> prioridad: Alta</li>
            }
            }
        </ul>
        <div>
            <div class="card-body" style="height: 200px; width: 250px;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="bi bi-clock"></i> <!-- Icono de reloj -->
                        Horario Inicio : {{horaInicio}}
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-clock-fill"></i> <!-- Icono de reloj relleno -->
                        Horario Fin: {{horaFin}}
                    </li>
                    <li class="list-group-item">
                        <i class="bi bi-people"></i> <!-- Icono de personas -->
                        Capacidad máxima: {{capacidad}}
                    </li>
                 

                    <div class="d-flex justify-content-center align-items-center my-2">
                        <app-modal [modalId]="modalId" [prioridad]="prioridad" [piso]="piso" [nombreSala]="nombreSala"
                            [capacidad]="capacidad" [horaInicio]="horaInicio" [horaFin]="horaFin" [idSala]="idSala"
                            [idReserva]="idReserva" [codigoSala]="codigoSala" [propertyForm]="propertyForm">
                        </app-modal>
                    </div>
                </ul>
            </div>



        </div>
    </div>
</div>