<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Disponible</div>

    <div class="card-body">
        <h5 class="card-title">Piso 4 | Sala 2</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Capacidad maxima: 29</li>
            <li class="list-group-item">Horario : 17:30 a 18:00</li>
            <li class="list-group-item">Prioridad : Media</li>
        </ul>
        <div class="card-body">
            <a href="#" class="btn btn-primary  ">Seleccionar sala</a>
        </div>
    </div>
</div>
