<div style="display: flex;align-items: center;justify-content: center;height: 100vh;">
<div style="width: 800px;">
<div class="card  border-dark rounded-4 shadow p-3">
    <div class="card-body p-3 p-md-4 p-xl-5">
      <div class="row">
        <div class="col-12">
          <div class="mb-4">
            <h3>Editar Perfil</h3>
            
          </div>
        </div>
      </div>
      <form [formGroup]="formUpdate" (ngSubmit)="registrarse()">
        <div class="row gy-3 overflow-hidden">
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="text" formControlName="nombre" class="form-control" 
              [class.is-valid]="this.formUpdate.get('nombre')?.valid" 
              [class.is-invalid]="this.formUpdate.get('nombre')?.invalid && this.formUpdate.get('nombre')?.touched" 
              name="first_name" id="first_name" placeholder="Nombre"
                required>
                <div class="invalid-feedback">
                 Por favor ingrese un nombre
                </div>
              <label for="first_name" class="form-label">Nombre</label>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input type="text" formControlName="apellido" class="form-control" 
              [class.is-valid]="this.formUpdate.get('apellido')?.valid" 
              [class.is-invalid]="this.formUpdate.get('apellido')?.invalid && this.formUpdate.get('apellido')?.touched" 
              name="last_name" id="last_name" placeholder="Apellido"
                required>
                <div class="invalid-feedback">
                  Por favor ingrese un apellido
                 </div>
              <label for="last_name" class="form-label">Apellido</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="email" formControlName="email" class="form-control"
              [class.is-valid]="this.formUpdate.get('email')?.valid" 
              [class.is-invalid]="this.formUpdate.get('email')?.invalid && this.formUpdate.get('email')?.touched" 
              name="email" id="email" placeholder="name@example.com"
                required>
                <div class="invalid-feedback">
                  Por favor ingrese un email valido
                 </div>
              <label for="email" class="form-label">Email</label>
            </div>
          </div>
          
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="password" formControlName="password" class="form-control"
                [class.is-valid]="this.formUpdate.get('password')?.valid && this.formUpdate.get('password')?.touched"
                [class.is-invalid]="this.formUpdate.get('password')?.invalid && this.formUpdate.get('password')?.touched"
                name="password" id="password" placeholder="Contraseña" required>
              
              <label for="password" class="form-label">Contraseña</label>
            </div>
          </div>
          
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="password" formControlName="confirmacionPassword" class="form-control"
                [class.is-valid]="!this.formUpdate.get('confirmacionPassword')?.hasError('mismatch') && this.formUpdate.get('confirmacionPassword')?.touched"
                [class.is-invalid]="this.formUpdate.get('confirmacionPassword')?.hasError('mismatch') && this.formUpdate.get('confirmacionPassword')?.touched"
                name="confirm_password" id="confirm_password"
                placeholder="Confirmar Contraseña" required>
              <div *ngIf="this.formUpdate.get('confirmacionPassword')?.hasError('mismatch') && this.formUpdate.get('confirmacionPassword')?.touched" class="invalid-feedback">
                Confirme la contraseña. Las contraseñas no coinciden.
              </div>
              <div *ngIf="!this.formUpdate.get('confirmacionPassword')?.hasError('mismatch') && this.formUpdate.get('confirmacionPassword')?.touched" class="valid-feedback">
                Las contraseñas coinciden.
              </div>
              <label for="confirm_password" class="form-label">Confirmar Contraseña</label>
            </div>
          </div>
          
          <div class="col-12">
            <div class="d-grid">
              <button [disabled]="this.formUpdate.invalid" class="btn btn-primary btn-lg" type="submit">Registrarse</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>

</div>

