<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#' + modalId">
  Seleccionar Reserva
</button>

<!-- Modal -->
<div class="modal fade" [id]="modalId" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header" style="border: none; margin-top: 20px;">
        <h5 class="modal-title fw-bold" id="confirmModalLabel" style="font-size: 28px;">
          @if(prioridad==-1){
          ¿Desea confirmar la reserva?
          }@else{
          <i class="bi bi-exclamation-triangle" style="color: #dc3545;"></i> ¿Desea sobreponer la reserva?
          }
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: #212529;">
        <div class="list-group">
          <div class="list-group-item d-flex gap-2">
            <i class="bi bi-clock icons-list"></i>
            <span>
              <strong>Hora Inicial: {{horaInicio}}</strong>
              <small class="d-block text-body-secondary">Hora de inicio de la reserva</small>
            </span>
          </div>
          <div class="list-group-item d-flex gap-2">
            <i class="bi bi-clock-fill icons-list"></i>
            <span>
              <strong>Hora Fin: {{horaFin}}</strong>
              <small class="d-block text-body-secondary">Hora de finalización de la reserva</small>
            </span>
          </div>

          <div class="list-group-item d-flex gap-2">
            <i class="bi bi-building icons-list"></i>
            <span>
              <strong>Nombre : {{nombreSala}}</strong>
              <small class="d-block text-body-secondary">Número de piso de la reserva</small>
            </span>
          </div>
          <div class="list-group-item d-flex gap-2">
            <i class="bi bi-building icons-list"></i>
            <span>
              @if(piso==0){
                <strong>Piso: Planta Baja </strong>
              }@else{
                <strong>Piso: {{piso}}</strong>
              }
              <small class="d-block text-body-secondary">Número de piso de la reserva</small>
            </span>
          </div>
          <div class="list-group-item d-flex gap-2">
            <i class="bi bi-door-open icons-list"></i>
            <span>
              <strong>Habitación: {{codigoSala}}</strong>
              <small class="d-block text-body-secondary">Número de habitación de la reserva</small>
            </span>
          </div>
          <div class="list-group-item d-flex gap-2">
            <i class="bi bi-people icons-list"></i>
            <span>
              <strong>Capacidad: {{capacidad}}</strong>
              <small class="d-block text-body-secondary">Capacidad máxima de personas en la reserva</small>
            </span>
          </div>
          @if(prioridad!=-1){
          <div class="list-group-item d-flex gap-2">
            <i class="bi bi-star icons-list prioridad"></i>
            <span>
              @if(prioridad==0){
              <strong>Prioridad: Baja</strong>
              }
              @if(prioridad==1){
              <strong>Prioridad: Media</strong>
              }
              @if(prioridad==2){
              <strong>Prioridad: Alta</strong>
              }
              <small class="d-block text-body-secondary">Nivel de prioridad de la reserva</small>
            </span>
          </div>
          <div class="list-group-item d-flex gap-2" style="background-color: #dc3545; color: white;">
            <i class="bi bi-exclamation-triangle"></i>
            @if(prioridad==0){
              <strong>Vas a suprimir otra reserva de prioridad Baja</strong>
              }
              @if(prioridad==1){
                <strong>Vas a suprimir otra reserva de prioridad Media</strong>
              }
              @if(prioridad==2){
                <strong>Vas a suprimir otra reserva de prioridad Alta</strong>
              }
          
          </div>
          }
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form [formGroup]="formCrearReserva" (ngSubmit)="crearReserva()">
       
          <input type="text" hidden formControlName="prioridad" placeholder="Prioridad" />
          <input type="text" hidden formControlName="idSala" placeholder="ID Sala" />
          <input type="text" hidden formControlName="horaInicio" placeholder="Hora de Inicio" />
          <input type="text" hidden formControlName="horaFin" placeholder="Hora de Fin" />
          
          <!-- Corrige el tipo del botón -->
          <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
        
        
      </div>
    </div>
  </div>
</div>